@use '../../styles/abstracts/variables' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;

    .header {
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        color: $neutral-9;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}