@use '../../../styles/abstracts/variables' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .left {
        display: flex;
        align-items: center;
        gap: 20px;

        .pageName {
            font-size: 30px;
            color: $neutral-1;
        }
        
        .sidebarButton {
            width: 40px;
        }
    }
}

.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .family {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}