@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/mixins/page-header' as *;

.header {
    @include page-header;
}

.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    gap: 15px;
    text-align: left;

    .schedule {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;

        .day {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .dayName {
                font-size: 20px;
                color: $neutral-1;
                font-weight: 500;
            }

            .lessons {
                list-style: none;
                max-width: 800px;
                width: 100%;

                .card {
                    display: flex;
                    max-width: 400px;
                    width: 100%;
                    min-width: 350px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}