@use '../../styles/abstracts/variables' as *;

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-bottom: 1px solid $purple-1;
    background-color: $neutral-1;
    text-align: left;

    .companyInfo {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 5px;

        .logo {
            width: 50px;
        }

        .title {
            margin-top: 8px;
            font-size: 20px;
            font-weight: 600;
            color: $neutral-10;
        }
    }

    .button {
        border: none;
        padding: 6px;
        border-radius: 8px;
        color: $neutral-4;
        transition: color 0.2s ease, background-color 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $neutral-1;
        cursor: pointer;

        &:hover {
            color: $purple-4;
            background-color: $purple-1;
        }

        .icon {
            width: 20px;
            height: 20px;
        }
    }
}