@use '../../styles/abstracts/variables' as *;

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-radius: 8px;
    outline: 1px solid $purple-5;
    background-color: $neutral-1;

    .personalInfo {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
        gap: 5px;

        .name {
            font-size: 16px;
            font-weight: 500;
            color: $neutral-9;
        }

        .contacts {
            display: flex;
            flex-direction: column;

            .birthDate {
                font-size: 14px;
                color: $neutral-7;
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .icon {
                width: 18px;
                height: 18px;
                color: $neutral-6;
            }
        }
        
    }

    .buttons {
        display: flex;
        gap: 5px;

        .button {
            width: 40px;
        }
    }

    // @media (max-width: 520px) {
    //     flex-direction: column;

    //     .button {
    //         width: 100%;
    //     }
    // }
}