@use '../../styles/abstracts/variables' as *;

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 10px;
    border-top: 1px solid $purple-1;
    background-color: $neutral-1;

    .profileInfo {
        display: flex;
        width: 100%;
        text-align: left;
        padding: 10px 16px;
        background-color: $neutral-2;
        border-radius: 8px;
        justify-content: space-between;
        align-items: center;

        .name {
            font-size: 16px;
            font-weight: 500;
            color: $neutral-9;
        }

        .email {
            font-size: 14px;
            color: $neutral-7;
        }

        .editButton {
            width: 40px;
        }
    }
    .button {
        display: flex;
        align-items: center;
        width: 100%;
        height: 45px;
        gap: 5px;
        padding: 10px 16px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        color: $neutral-7;
        background-color: transparent;
        border: none;
        cursor: pointer;

        transition: all 0.2s ease;

        &:hover {
            background-color: $red-1;
            color: $red-5;
        }

        .icon {
            width: 18px;
            height: 18px;
            color: $neutral-6;

            transition: color 0.2s ease;
        }

        &:hover .icon {
            color: $red-5;
        }
    }
}