@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/mixins/page-header' as *;

.header {
    @include page-header;
}

.wrapper {
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.statsCardsFirst {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.statsCardsSecond {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 32px;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.recentActivity {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}