$purple-1: #DFE4FF;
$purple-2: #C4CDFF;
$purple-3: #A1ACFF;
$purple-4: #7B80FE;
$purple-5: #615CF8;
$purple-6: #523EED;
$purple-7: #4631D1;
$purple-8: #392BA8;
$purple-9: #392BA8;
$purple-10: #141032;

$neutral-1: #FAFAFA;
$neutral-2: #F5F5F5;
$neutral-3: #E6E6E6;
$neutral-4: #D3D3D3;
$neutral-5: #A8A8A8;
$neutral-6: #727272;
$neutral-7: #535353;
$neutral-8: #404040;
$neutral-9: #272727;
$neutral-10: #1A1A1A;
$neutral-11: #0B0B0B;

$red-1: #FEE2E2;
$red-2: #FECACA;
$red-3: #FCA5A5;
$red-4: #F87171;
$red-5: #EF4444;
$red-6: #DC2626;
$red-7: #B91C1C;
$red-8: #991B1B;
$red-9: #7F1D1D;
$red-10: #450A0A;

$green-1: #E2F6E8;
$green-2: #D1F0DA;
$green-3: #99DCAD;
$green-4: #64C481;
$green-5: #3FA860;
$green-6: #2F8A4C;
$green-7: #286D3E;
$green-8: #245734;
$green-9: #1F482D;
$green-10: #0C2715;
