@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/mixins/page-header' as *;

.header {
    @include page-header;
}

.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .input {
        max-width: 600px;
        width: 100%;
        min-width: 300px;
    }

    .categories, .clubs {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .subheader {
            font-size: 26px;
            color: $neutral-1;
        }

        .list {
            width: 100%;
            list-style: none;

            li {
                margin-bottom: 10px;
            }
        }
    }
}